<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="/Users/hrushikeshkajale/Documents/My Study/RestAssured/src"><classes><class name="org.example.GetAllUsers"><methods><include name="getAllusers"/></methods></class><class name="org.example.PostRequestTest"><methods><include name="testPostRequest"/></methods></class><class name="org.example.PostRequestUsingOrgJson"><methods><include name="testPostRequest"/></methods></class><class name="org.example.PostRequestUsingPOJO"><methods><include name="testPostRequestWithPOJO"/></methods></class></classes></test></suite>